# This file may be used to create an environment using:
# $ conda create --name <env>
# $ pip install -r requirements.txt pip
# $ conda install bzip2=1.0.8
bcrypt==4.3.0
bzip2==1.0.8
ca-certificates==2025.2.25
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.3
dotenv==0.9.9
expat==2.7.1
idna==3.10
libcxx==14.0.6
libffi==3.4.4
libmpdec==4.0.0
libsodium==1.0.18
lxml==5.4.0
ncurses==6.4
openssl==3.0.16
paramiko==3.5.0
pip==25.1
pycparser==2.21
pynacl==1.5.0
python==3.13.5
python-dotenv==1.1.0
python_abi==3.13
readline==8.2
requests==2.32.4
setuptools==78.1.1
six==1.17.0
sqlite==3.45.3
tk==8.6.14
tzdata==2025b
urllib3==2.4.0
wheel==0.45.1
xz==5.6.4
zlib==1.2.13